In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_train = pd.read_csv('train.csv')

In [3]:
data1_train = pd.read_csv('train.csv', usecols = [1,4,5,7,16,17,18,19,21,49,51,53,61,77,79])

In [4]:
data1_train

,MSSubClass,LotArea,Street,LotShape,HouseStyle,OverallQual,OverallCond,YearBuilt,RoofStyle,FullBath,BedroomAbvGr,KitchenQual,GarageCars,YrSold,SaleCondition
0,60,8450,Pave,Reg,2Story,7,5,2003,Gable,2,3,Gd,2,2008,Normal
1,20,9600,Pave,Reg,1Story,6,8,1976,Gable,2,3,TA,2,2007,Normal
2,60,11250,Pave,IR1,2Story,7,5,2001,Gable,2,3,Gd,2,2008,Normal
3,70,9550,Pave,IR1,2Story,7,5,1915,Gable,1,3,Gd,3,2006,Abnorml
4,60,14260,Pave,IR1,2Story,8,5,2000,Gable,2,4,Gd,3,2008,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,7917,Pave,Reg,2Story,6,5,1999,Gable,2,3,TA,2,2007,Normal
1456,20,13175,Pave,Reg,1Story,6,6,1978,Gable,2,3,TA,2,2010,Normal
1457,70,9042,Pave,Reg,2Story,7,9,1941,Gable,2,4,Gd,1,2010,Normal
1458,20,9717,Pave,Reg,1Story,5,6,1950,Hip,1,2,Gd,1,2010,Normal
1459,20,9937,Pave,Reg,1Story,5,6,1965,Gable,1,3,TA,1,2008,Normal

In [5]:
data1_train.isnull().sum()

MSSubClass       0
LotArea          0
Street           0
LotShape         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
RoofStyle        0
FullBath         0
BedroomAbvGr     0
KitchenQual      0
GarageCars       0
YrSold           0
SaleCondition    0
dtype: int64

In [6]:
from pycaret.regression import *

In [7]:
s = setup(data_train, target = 'SalePrice', session_id = 123)

In [8]:
lr = create_model('lr')

In [9]:
save_model(lr, 'deployment_1099')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Id'],
                                       ml_usecase='regression',
                                       numerical_features=[], target='SalePrice',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='SalePrice')),
                 ('fix_perfect', Remove_100(target='SalePrice')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1,
                                   normalize=False)]],
          verbose=False),
 'deployment_1099.pkl')

In [10]:
deployment_1099 = load_model('deployment_1099')

Transformation Pipeline and Model Successfully Loaded

In [11]:
best_model = compare_models()

In [13]:
gbr = create_model('gbr')

In [14]:
tuned_gbr = tune_model(gbr)

In [15]:
predict_model(tuned_gbr)

,LotFrontage,LotArea,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,...,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SalePrice,Label
0,69.354309,9505.0,2001.0,2001.0,180.0,0.0,0.0,884.0,884.0,884.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,222500,229062.742899
1,60.000000,9600.0,1900.0,1950.0,0.0,0.0,0.0,1095.0,1095.0,1095.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,87000,114060.557150
2,32.000000,3363.0,2004.0,2004.0,117.0,0.0,0.0,976.0,976.0,976.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,130000,145988.102781
3,75.000000,9750.0,1998.0,1998.0,0.0,975.0,0.0,133.0,1108.0,1108.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,274300,251894.404744
4,60.000000,10930.0,1945.0,1950.0,0.0,580.0,0.0,333.0,913.0,1048.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,140000,143927.735109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,60.000000,6882.0,1914.0,2006.0,0.0,0.0,0.0,684.0,684.0,773.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,127000,110975.365092
435,50.000000,6000.0,1954.0,1954.0,0.0,0.0,0.0,811.0,811.0,811.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,93000,111792.215808
436,80.000000,10240.0,2005.0,2005.0,178.0,0.0,0.0,1030.0,1030.0,1038.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,275500,282608.930743
437,85.000000,10625.0,2003.0,2004.0,292.0,866.0,0.0,132.0,998.0,1006.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,284000,285658.913878
438,57.000000,8846.0,1996.0,1996.0,0.0,298.0,0.0,572.0,870.0,914.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,148000,145332.538610

In [16]:
final_gbr = finalize_model(tuned_gbr)

In [17]:
save_model(final_gbr, 'Final Model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Id'],
                                       ml_usecase='regression',
                                       numerical_features=[], target='SalePrice',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                                            learning_rate=0.15, loss='ls',
                                            max_depth=7, max_features=1.0,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.02,
                                            min_impurity_split=None,
                                            min_samples_leaf=5,
                                            min_samples_split=5,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=230,
                                            n_iter_no_change=None,
                                            presort='deprecated',
                                            random_state=123, subsample=0.85,
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=0, warm_start=False)]],
          verbose=False),
 'Final Model.pkl')